h1{
    font-size: 30px;
    font-weight: bold;
    color: #009a61;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
    margin-top: 0px;
}
form{
    text-align: center;
}
.account-form{
    margin:0 auto;
    width:412px;
}
.row{
    margin: 20px 0;
}
.row label{
    display: block;
    font-size: 18px;
    text-align:left;
}
.row input{
    width: 400px;
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 5px;
    line-height: 30px;
    height: 30px;
    background-color: #fff;
    vertical-align: middle;
    margin: 0;
}
.row .error{
    display: none;
}
.row button{
    width:412px;
    height:42px;
    color:#fff;
    background-color: #009a61;
    border:none;
    font-size: 16px;
}
.account-tips{
   text-align: right;
   font-size: 14px;
}
.account-box{
    text-align: center;
    background-color: #fff;
    padding: 30px;
    font-size: 18px;
}
.account-box a{
    display: block;
    background-color: #009a61;
    color: #fff;
    margin: 30px auto 0 auto;
    width: 200px;
    height: 42px;
    line-height: 42px;
    vertical-align: middle;
    border-radius: 4px;
}